@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans:wght@700&display=swap');
body{
     /* overflow-y: hidden;  */
    background-color:#F7F7F7;
    margin:0;
}

button{
    border: none;
    background: none;
}
#header-container{
    padding-top:20px;
    /* background-image: linear-gradient(to bottom, #000 transparent); */
    background: linear-gradient(to top, transparent 10%, rgba(247, 247, 247, 0.308) 35%, rgba(247, 247, 247, 0.986));
    
}
#background-image{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    /* -webkit-mask-image: linear-gradient(to bottom, transparent 5%, #000 40%); */
    -webkit-mask-image: linear-gradient(to top, transparent 5%, #000 20%);

}

#content{ 
    display: flex;
    justify-content: space-between;
    margin: 15px 80px 0px;
    align-items: center;
}
.content-menu{
   
}
.btn-header{
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    color: rgb(43, 42, 42);
}
#img-icone{
    width: 60px;
    height: 60px;
}
#img-lading{
    width:100%;
    height: 100vh;
}
.container-content{
    margin-top:100vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
   
}



.container-img-presentation{
    margin-left: 150px;
    padding-top:50px;
}

.content-img{
    border: 2px solid #C7973E;
    width: 550px;
    height: auto;
    border-radius:50%;
    margin-left:-100px;
    justify-content:center;
    display:flex
}

#img-presentation{
    width: 300px;
    height:auto;
}


.content-text-presentation{
    max-width: 100%;
    width:500px;
}

.description-2{
    font-family: 'Architects Daughter', cursive;
    font-family: 'Balsamiq Sans', cursive;
    color:rgb(58, 56, 56);
}
.subititle-2{
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color:#D0A85C;
    margin-bottom: 40px;
}

[data-anime]{
    opacity:0;
    transition: .3s;
}
[data-anime ="bottom"]{
    /* eixo x - y - y */
    transform: translate3d(0px, 100px, 0px)
}
[data-anime ="right"]{
    /* eixo x - y - y */
    transform: translate3d(-100px, 0px, 0px)
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.container-enemy{
    display:flex;
    margin:50px 30px 0 30px ;
    justify-content:space-between;
    align-items:center;
}


#img-alvo{
    max-width: 500px;
    width:400px;
    margin-top:10px;
    max-height: auto;
}

.container-description-enemy{
max-width:40%;
padding-left: 20px;
padding-top:0px;

}
.title-enemy{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}
.icon-chevron{
    color:#D0A85C;
}

.container-border-enemy{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-right: 100px;;
}
.border-enemy-img{
    position: absolute;
    z-index: -1;
    max-width: 500px;
    padding-right: 100px;
}

.container-chevron-left{
    margin:0px -70px 0px 0px;

}
.container-chevron-right{
    margin:0px 0px 0px -70px;
}